/* @media (min-width: 770px) {
  .nav_menu {
    display: block;
  }

  .nav_mobile {
    display: none;
  }
} */

.modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 820px;
  padding: 0 2%;
}

.form_ {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0.5rem;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
  margin-top: 70px;
  margin-bottom: 70px;
}

.form_ h2 {
  text-align: center;
  color: #444343f3;
}

.form_ label {
  color: #444343f3;
  font-weight: 600;
}

.form_ input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #444343f3;
  color: #08265ef3;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
}

.form_ textarea {
  padding: 0.5rem;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #444343f3;
  color: #444343f3;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #7092d3f3;
  font-weight: 600;
  font-size: 1rem;
}

.errors {
  background-color: rgb(238, 174, 174);
  padding: 1rem;
  color: #850b0bf3;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
}

@media only screen and (min-width: 828px) {
  .modal {
    width: 100%;
    min-height: 970px;
    padding-left: 20rem;
  }

  .form_ {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    padding: 3rem 3rem;
  }

  button {
    width: 20%;
  }

  button:hover {
    border-color: #ffffff;
    background-color: transparent;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.61);
    color: #000;
  }
}
