li,
span,
b {
  color: #444343f3;
}

legend {
  font-size: 1.3rem;
  color: #444343f3;
}

.container_home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 1rem 2%;
  margin-top: 50px;
}

.agenda,
.lembretes {
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px solid #b1acac;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.agenda {
  margin-bottom: 60px;
}

.acoes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.acoes span i {
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0px 5px 3px 5px;
  border-radius: 5px;
}

.acoes > span:nth-child(1) i {
  color: #2f5fc9f3;
}

.acoes > span:nth-child(2) i {
  color: #a52a2a;
}

.card_lembretes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 10px;
}

.card_lembretes ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card_agenda {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1rem 0;
}

.card_agenda ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_lembretes,
.card_agenda {
  border: 1px solid #b1acac;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px 1px #b1acac;
}

@media only screen and (min-width: 828px) {
  .container_home {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 280px;
  }

  .agenda,
  .lembretes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 1rem 2%;
    width: 100%;
  }
}
