.container_layout {
  display: flex;
  flex-direction: column-reverse;
}

/* .logo {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@media only screen and (min-width: 828px) {
  .container_layout {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
